<form id="uploadForm" enctype="multipart/form-data" style="display:none;" method="PUT">
  <input type="file" id="filePicker"/>
</form>

<script type="text/x-template" id="item-row">
  <tr>
    <td>
      <div>{{ item.id }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="item.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
      <div v-else>{{ item.name }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="item.description"><br>
        <span style="color:red">{{ errors.description }}</span>
      </div>
      <div v-else>{{ item.description }}</div>
    </td>
    <td>
      <img style="width:16px;height:16px;" :src="imgsrc" @click="uploadImage"/>
    </td>
    <td>
      <button v-if="editMode" @click="editItem">Save</button>
      <button v-else @click="editMode = true">Edit</button>
      <button v-if="!editMode" @click="removeItem" style="color:red">Remove</button>
    </td>
  </tr>
</script>

<h1>Items</h1>
<br>
<div id="items">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr
        is="item-row"
        v-for="item in items"
        :item="item">
      </tr>
      <tr>
        <td>
          .
        </td>
        <td>
          <input type="text" v-model="item.name"><br>
          <span style="color:red">{{ errors.name }}</span>
        </td>
        <td>
          <input type="text" v-model="item.description"><br>
          <span style="color:red">{{ errors.description }}</span>
        </td>
        <td><button @click="addItem">Add</button></td>
      </tr>
    </tbody>
  </table>
</div>
<%= render 'partial/bottom' %>
