<!-- <div id="mainView" style="height: 600px;">

</div> -->

<div id="startScene">
  <button id="startButton" onclick="showMainScene()">START</button>
</div>
<div id="mainScene" class="mainScene">
</div>
<div id="mainScene2" class="mainScene">
</div>
<div id="scrollAble" style="height:101vh;display:block;"></div>

<div id="footer"></div>
