
<div id="mainView">
  <div id="startScene">
    <button id="startButton" onclick="$('#mainScene').show()">START</button>
  </div>
  <div id="mainScene">
    <div id="startBlock" style="height:100vh;"></div>
    <div id="block1" class="block"></div>
    <div id="block2" class="block"></div>
    <div id="block3" class="block"></div>
    <div id="block4" class="block"></div>
    <div id="block5" class="block"></div>
  </div>
</div>
