<div id="startBlock" style="height: 600px;">
  <div id="startScene">
    <button id="startButton" onclick="showMainScene()">START</button>
  </div>
</div>
<div id="mainScene">
</div>

<div id="footer"></div>
