// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin center($offX: 0px, $offY: 0px) {
  top: 50%;
  left: 50%;
  margin: $offY $offX;
}

@mixin center($offX: 0px, $offY: 0px) {
  top: 50%;
  left: 50%;
  margin: $offY $offX;
}

::-webkit-scrollbar {
  display: none;
}

$width: 800px;
$height: 600px;
$inputWidth: 200px;
$hfInputWidth: $inputWidth / 2;
$inputHeight: 50px;
$hfInputHeight: $inputHeight / 2;

// For z-order
$background: 0;
$initUI: 1;
$mainScene: 2;
$mainUI: 3;

html {
  width: 100%;
  height: 100%;
  background-color: gray;
}

body {
  width: $width;
  height: 100%;
  min-height: $height;
  margin: auto;
}

#startScene {
  width: $width;
  height: 100vh;
  background-color: white;
  z-index: $background;
  position: fixed;
  background-image: url('http://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon.png');
}

#startButton {
  position: relative;
  height: $inputHeight;
  width: $inputWidth;
  z-index: $initUI;
}

#loginBlock {
  @include center(-$inputWidth/2, -$inputHeight/2);
  position: relative;
  width: $inputWidth;
  z-index: $initUI;
  background-color: white;
  border: 4px;
  border-style: solid;
}

.formButton {
  width: $inputWidth;
}

.formInput {
  width: $inputWidth - 4;
  border-width: 1px;
}

#mainScene {
  width: $width;
  z-index: $mainScene;
  position: absolute;
  display: none;
}

.block {
  width: $width;
  height: $height;
  background: url('/imgs/land.png');
}

#hero {
  @include center(-44px, -64px);
  position: fixed;
  height: 128px;
  width: 88px;
  z-index: $mainUI;
  background-image: url('/imgs/hero.png');
}

$logoutButtonWidth: 96px;
$logoutButtonBorder: 4px;

#logoutButton {
  @include center(400 - $logoutButtonWidth - $logoutButtonBorder*2, -300px);
  position: fixed;
  z-index: $mainUI;
  height: 24px;
  width: $logoutButtonWidth;
  font-size: 24px;
  background-color: white;
  border: $logoutButtonBorder;
  border-color: black;
  border-style: solid;
  cursor: default;
}

#status {
  @include center(-400px, -300px);
  position: fixed;
  z-index: $mainUI;
  font-size: 24px;
  color: white;
}

#statusShadow {
  @include center(-398px, -298px);
  position: fixed;
  z-index: $mainUI;
  font-size: 24px;
}
